<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension id="jdbc.prefs"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="JDBC Drivers"/>
        <class value="org.protege.osgi.jdbc.prefs.PreferencesPanel"/>
    </extension>


</plugin>
